# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log

# Virtual envs
.env
.venv/
venv/
ENV/
env/
.ipynb_checkpoints/

# Streamlit
.streamlit/secrets.toml   # ⚠️ do not commit your Supabase keys

# OS files
.DS_Store
Thumbs.db

# VS Code / IDE
.vscode/
.idea/

# Jupyter
*.ipynb_checkpoints